<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">This is the Explanation Step </h1>
  </div>
</section>
<div class='row'>
  <div class='col-md-2 offset-md-10'>
    <%= link_to "Get Started", proposal_wizard_steps_step_1_path, class: 'push-1' %>
  </div>
</div>
<%= render 'theme/how_we_work' %>
