<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <% collection = [1,2,3] %>
      <%= slide_count_list @portfolios %>
      <%= render 'shared/carousel/portfolio_carousel_inner'%>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>