
<div class='col-md-4'>
  <div class="hover-container">
    <%= image_tag portfolio.safe_cover_image, class: 'pre-overlay-image'  %>
    <div class="overlay">
      <%= link_to portfolio do %>
        <div class="overlay-text"><%= portfolio.title %>
          <div class="overlay-text-sub"><%= portfolio.user.email %></div>
        </div>
      <% end %>
    </div>
  </div>
</div> 
