<p id="notice"><%= notice %></p>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Portfolios</h1>
    <p class="lead text-muted">Go Find You Some Workers!</p>
    <p>
      <a href="#" class="btn btn-primary">My Work</a>
      <a href="#" class="btn btn-secondary">My Queue</a>
    </p>
  </div>
</section>


<div class='container'> 
<div class="row">
  <%= render @portfolios%>
</div>
</div>

<br>

<%= link_to 'New Portfolio', new_portfolio_path %>
