<div id="portfolio">
  <div class="section bg-main work-section">
    <div class="second-title">
      <h2>Portfolios</h2>
      <p>Check Out Our Talent</p>
      <a href="#" class="btn btn-primary">My Work</a>
      <a href="#" class="btn btn-secondary">My Queue</a>
    </div>
    <div class='container'>
      <div id="filters" class="fillter-wrap">
         <button class="but activbut" data-filter="*">All</button>  
         <button class="but" data-filter=".design">design</button>
         <button class="but" data-filter=".development">development</button>
         <button class="but" data-filter=".branding">branding</button>
         <button class="but" data-filter=".logo">logo</button>
      </div>
      <div class="row">
        <%= render @portfolios%>
      </div>
  </div>

  <br>

  <%= link_to 'New Portfolio', new_portfolio_path %>
  </div>
</div>
