 <div id="about">
     <div class="section about-section">
      <div class="second-title">
        <h2>About Us</h2>
          <p>Proin blandit dignissim dolor, nec tincidunt tellus</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="block-about">
              <img src="http://lorempixel.com/370/300/" alt="">
                <h5>We Are Friendly</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-about">
              <img src="http://lorempixel.com/370/300/" alt="">
                <h5>We Are Creative</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-about">
              <img src="http://lorempixel.com/370/300/" alt="">
                <h5>We Are Hard-Working</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-2 col-md-8 col-sm-12">
            <p class="text-p text-md-center">Cras pharetra iaculis urna, a consectetur turpis pellentesque eget. Nulla malesuada diam est, tempor consequat felis dapibus laoreet. Aliquam feugiat tortor magna, nec pellentesque dui laoreet in. Integer arcu tortor, consectetur ac venenatis sed, lacinia non nisl. Nunc rhoncus dapibus.</p>
          </div>
        </div>
      </div>
     </div>
