 <div id="about">
     <div class="section about-section">
      <div class="second-title">
        <h2>About Us</h2>
          <p>We Love Creatives</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="block-about">
              <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/about_us_1.jpg" alt="">
                <h5 class='text-center'>Global Platform </h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-about">
              <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/about_us_2.jpg" alt="">
                <h5 class='text-center'>Talented &amp; Vetted</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-about">
              <img src="https://s3-us-west-2.amazonaws.com/nomcre/assets/about_us_3.jpg" alt="">
                <h5 class='text-center'>Transparent &amp; Agile </h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-2 col-md-8 col-sm-12">
            <p class="text-p text-md-center">
              Connecting brands and creative talent across the world, real time.  We exist to shake up the way we create  commercial creative content.

              Lead by a former art director and entrepreneur, brilliant developer with an incredible team of creatives and support staff.

              We aim to make every brand global, and as agile as the market demands.  Creative content, delivered to you, from around the planet.
            </p>
          </div>
        </div>
      </div>
     </div>
