 <div id="about">
     <div class="section about-section">
      <div class="second-title">
        <h2>About Us</h2>
          <p>Proin blandit dignissim dolor, nec tincidunt tellus</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="block-about">
              <img src="http://lorempixel.com/370/300/" alt="">
                <h5>We Are A Platform</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-about">
              <img src="http://lorempixel.com/370/300/" alt="">
                <h5>We Are Global</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block-about">
              <img src="http://lorempixel.com/370/300/" alt="">
                <h5>We Are Simple</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-2 col-md-8 col-sm-12">
            <p class="text-p text-md-center">
              Connecting brands and creative talent across the world, real time.  We exist to shake up the way we create  commercial creative content.

              Lead by a former art director and entrepreneur, brilliant developer with an incredible team of creatives and support staff.

              We aim to make every brand global, and as agile as the market demands.  Creative content, delivered to you, from around the planet.
            </p>
          </div>
        </div>
      </div>
     </div>
