<div id="home">
        <div class="top-baner">
      <div class="video-wrapper">
      <iframe width="1900" height="1069" src="https://www.youtube.com/embed/858JilzfsGs?rel=0&amp;autoplay=1&amp;controls=0&amp;loop=1&amp;playlist=858JilzfsGs&amp;showinfo=0" class="bgvid"></iframe>
      <div class="dark-layer"></div>
      </div>
      <div class="vertical-align">
      <div class="container">
        <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12 col-xs-12">
          <div class="main-title border-title">
          <h3>Hello Stranger!</h3>
          <h1>We are. NOMCRE</h1>
            <p>New Stuff Here</p>
          </div>
        </div>
        </div>
      </div>  
      </div>
        </div>
     </div>
