<div class="section bg-grey">
  <div class="second-title">
    <h2>How We Work</h2>
    <p>Cras pulvinar ultricies ligula sed pharetra</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-block">
          <div class="choose-icon bg-second">
            <img src="http://lorempixel.com/400/200/" alt="">
          </div>
          <div class="text">
            <h6>Discuss</h6>
            <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus tellus, vitae porta ligula fringilla</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-block">
          <div class="choose-icon bg-second">
            <img src="http://lorempixel.com/400/200/" alt="">
          </div>
          <div class="text">
            <h6>Creative Ideas</h6>
            <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus tellus, vitae porta ligula fringilla</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-block">
          <div class="choose-icon bg-second">
            <img src="http://lorempixel.com/400/200/" alt="">
          </div>
          <div class="text">
            <h6>Prototype</h6>
            <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus tellus, vitae porta ligula fringilla</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-block">
          <div class="choose-icon bg-second">
            <img src="ihttp://lorempixel.com/400/200/" alt="">
          </div>
          <div class="text">
            <h6>Ready Project</h6>
            <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus tellus, vitae porta ligula fringilla</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

