<div class="section bg-grey">
  <div class="second-title">
    <h2>How We Work</h2>
    <p>
      The app tracks the content creators, and allows communication for clients to see who, where and when they can rapidly have their production needs met.

      The cycle of content is already at breakneck speeds, and the old models just can’t produce fast enough.

      NomCre is the future of global on demand creative production, take a look:
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-block">
          <div class="choose-icon bg-second">
            <i class='fa fa-comments-o fa-3x fa-3-center white'></i>
          </div>
          <div class="text">
            <h6>Discuss</h6>
            <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus tellus, vitae porta ligula fringilla</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-block">
          <div class="choose-icon bg-second">
            <i class='fa fa-lightbulb-o fa-3x fa-3-center white'></i>
          </div>
          <div class="text">
            <h6>Creative Ideas</h6>
            <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus tellus, vitae porta ligula fringilla</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-block">
          <div class="choose-icon bg-second">
            <i class='fa fa-camera-retro fa-3x fa-3-center white'></i>
          </div>
          <div class="text">
            <h6>Prototype</h6>
            <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus tellus, vitae porta ligula fringilla</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="how-block">
          <div class="choose-icon bg-second">
            <i class='fa fa-heart fa-3x fa-3-center white'></i>
          </div>
          <div class="text">
            <h6>Ready Project</h6>
            <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus tellus, vitae porta ligula fringilla</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

