<div id="news">
  <div class="section bg-main">
      <div class="second-title">
        <div class="container">
          <h2>What We Do</h2>
          <p>Cras pulvinar ultricies ligula sed pharetra</p>
        </div>
      </div>
      <div class="container">
        <div class='row'>
          <div class='col-md-4'>
            <div class="news-block">
              <div class="image">
                <img src="http://lorempixel.com/400/200/" alt="" class="res-img">
              </div>
              <div class="text">
                <a href="#"><h6>Ut sit amet ante ipsum</h6></a>
                <span>25 August, 2015</span>
                <p>
                  Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus tellus, vitae porta ligula fringilla
                </p>
                <a href="#" class="push-1">read more</a>
              </div>
             </div> 
          </div>

          <div class='col-md-4'>
            <div class="news-block">
              <div class="image">
                <img src="http://lorempixel.com/400/200/" alt="" class="res-img">
              </div>
              <div class="text">
                <a href="#"><h6>Ut sit amet ante ipsum</h6></a>
                <span>25 August, 2015</span>
                <p>
                  Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus tellus, vitae porta ligula fringilla
                </p>
                <a href="#" class="push-1">read more</a>
              </div>
             </div> 
          </div>

          <div class='col-md-4'>
            <div class="news-block">
              <div class="image">
                <img src="http://lorempixel.com/400/200/" alt="" class="res-img">
              </div>
              <div class="text">
                <a href="#"><h6>Ut sit amet ante ipsum</h6></a>
                <span>25 August, 2015</span>
                <p>
                  Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus tellus, vitae porta ligula fringilla
                </p>
                <a href="#" class="push-1">read more</a>
              </div>
             </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>