 <div class="section bg-main time-line">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-6">

      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="info-block">
           <span class="timer" data-to="6" data-speed="1000">6</span>
             <h6>Continents</h6>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="info-block">
           <span class="timer" data-to="267" data-speed="1000">267K</span>
             <h6>Thousand KM Traveled</h6>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="info-block">
           <span class="timer" data-to="7" data-speed="1000">7</span>
             <h6>Broken Tripods</h6>
        </div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6">
        <div class="info-block">
           <span class="timer" data-to="43" data-speed="1000">43</span>
             <h6>Countries</h6>
        </div>
      </div>
       <div class="col-md-2 col-sm-4 col-xs-6">

      </div>
    </div>
  </div>
</div>

