<div id="offers">
  <div class="section bg-grey">
      <div class="second-title">
        <div class="container">
          <h2>Our Best Offers</h2>
          <p>Cras pulvinar ultricies ligula sed pharetra</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <img src="http://lorempixel.com/400/200/" alt="">
            </div>
                <h6>Starter</h6>
                <div class="price">
                  <span>22</span>
                   <sup>$</sup>
                </div>
                <ul>
                  <li>Ut sit amet ante ipsum</li>
                  <li>Phasellus viverra velit</li>
                  <li>Vivamus pulvinar</li>
                  <li>Suspendisse volutpat</li>
                  <li>Phasellus mattis lorem</li>
                </ul>
                <a href="#" class="push-1">order now</a>  
             </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <img src="http://lorempixel.com/400/200/" alt="">
            </div>
                <h6>Basic</h6>
                <div class="price">
                  <span>50</span>
                   <sup>$</sup>
                </div>
                <ul>
                  <li>Ut sit amet ante ipsum</li>
                  <li>Phasellus viverra velit</li>
                  <li>Vivamus pulvinar</li>
                  <li>Suspendisse volutpat</li>
                  <li>Phasellus mattis lorem</li>
                </ul>
                <a href="#" class="push-1">order now</a>  
             </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <img src="http://lorempixel.com/400/200/" alt="">
            </div>
                <h6>Business</h6>
                <div class="price">
                  <span>105</span>
                   <sup>$</sup>
                </div>
                <ul>
                  <li>Ut sit amet ante ipsum</li>
                  <li>Phasellus viverra velit</li>
                  <li>Vivamus pulvinar</li>
                  <li>Suspendisse volutpat</li>
                  <li>Phasellus mattis lorem</li>
                </ul>
                <a href="#" class="push-1">order now</a>  
             </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <img src="http://lorempixel.com/400/200/" alt="">
            </div>
                <h6>Premium</h6>
                <div class="price">
                  <span>170</span>
                   <sup>$</sup>
                </div>
                <ul>
                  <li>Ut sit amet ante ipsum</li>
                  <li>Phasellus viverra velit</li>
                  <li>Vivamus pulvinar</li>
                  <li>Suspendisse volutpat</li>
                  <li>Phasellus mattis lorem</li>
                </ul>
                <a href="#" class="push-1">order now</a>  
             </div>
          </div>
        </div>
      </div>
  </div>
  </div>