<div id="offers">
  <div class="section bg-grey">
      <div class="second-title">
        <div class="container">
          <h2>Our Best Offers</h2>
          <p>Cras pulvinar ultricies ligula sed pharetra</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <i class='fa fa-sign-in fa-3x fa-3-center main-color'></i>
            </div>
                <h6>Photography</h6>
                <div class="price">
                  <span>4k</span>
                   <sup>$</sup>
                </div>
                <ul>
                  <li>Ut sit amet ante ipsum</li>
                  <li>Phasellus viverra velit</li>
                  <li>Vivamus pulvinar</li>
                  <li>Suspendisse volutpat</li>
                  <li>Phasellus mattis lorem</li>
                </ul>
                <a href="#" class="push-1">order now</a>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <i class='fa fa-sign-in fa-3x fa-3-center main-color'></i>
            </div>
                <h6>Videography/Drone</h6>
                <div class="price">
                  <span>8k</span>
                   <sup>$</sup>
                </div>
                <ul>
                  <li>Ut sit amet ante ipsum</li>
                  <li>Phasellus viverra velit</li>
                  <li>Vivamus pulvinar</li>
                  <li>Suspendisse volutpat</li>
                  <li>Phasellus mattis lorem</li>
                </ul>
                <a href="#" class="push-1">order now</a>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <i class='fa fa-sign-in fa-3x fa-3-center main-color'></i>
            </div>
                <h6>Combination</h6>
                <div class="price">
                  <span>10k</span>
                   <sup>$</sup>
                </div>
                <ul>
                  <li>Ut sit amet ante ipsum</li>
                  <li>Phasellus viverra velit</li>
                  <li>Vivamus pulvinar</li>
                  <li>Suspendisse volutpat</li>
                  <li>Phasellus mattis lorem</li>
                </ul>
                <a href="#" class="push-1">order now</a>
             </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <i class='fa fa-sign-in fa-3x fa-3-center main-color'></i>
            </div>
                <h6>Custom</h6>
                <div class="price">
                  <span>TBD</span>
                   <sup>$</sup>
                </div>
                <ul>
                  <li>Ut sit amet ante ipsum</li>
                  <li>Phasellus viverra velit</li>
                  <li>Vivamus pulvinar</li>
                  <li>Suspendisse volutpat</li>
                  <li>Phasellus mattis lorem</li>
                </ul>
                <a href="#" class="push-1">order now</a>
             </div>
          </div>
        </div>
      </div>
  </div>
  </div>
