<div class="section start-line time-line no-bottom-padd">
    <div class="container">
       <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="skill-block">
          <h6>Creativity</h6>
          <div class="skill-line">
            <div data-width-pb="80%"><h5 class="timer" data-to="80" data-speed="2000">0</h5></div>
          </div>
        </div>
        <div class="skill-block">
          <h6>development</h6>
          <div class="skill-line">
            <div data-width-pb="70%"><h5 class="timer" data-to="70" data-speed="2000">0</h5></div>
          </div>
        </div>
        <div class="skill-block">
          <h6>design</h6>
          <div class="skill-line">
            <div data-width-pb="90%"><h5 class="timer" data-to="90" data-speed="2000">0</h5></div>
          </div>
        </div>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="skill-block">
          <h6>seo</h6>
          <div class="skill-line">
            <div data-width-pb="85%"><h5 class="timer" data-to="85" data-speed="2000">0</h5></div>
          </div>
        </div>
        <div class="skill-block">
          <h6>identity</h6>
          <div class="skill-line">
            <div data-width-pb="95%"><h5 class="timer" data-to="95" data-speed="2000">0</h5></div>
          </div>
        </div>
        <div class="skill-block">
          <h6>marketing</h6>
          <div class="skill-line">
            <div data-width-pb="70%"><h5 class="timer" data-to="70" data-speed="2000">0</h5></div>
          </div>
        </div>
       </div>
       </div>
    </div>             
  </div>
  </div>