<div id="service">
     <div class="section service-section no-bottom-padd">
      <div class="second-title">
        <h2>Our Services</h2>
          <p>Cras pulvinar ultricies ligula sed pharetra</p>
      </div>
      <div class="service-block left-side">
        <div class="block-60">
        <div class="clip">
          <div class="bg bg-bg act" style="background-image:url(http://lorempixel.com/400/200/)">
          </div>
        </div>
          <div class="layer-white"></div>
      </div>
        <div class="block-40">
        <div class="text">
        <span>01</span>
          <h4>Photography</h4>
          <p class="text-p">
            We have talented photographers waiting to fulfill your creative needs anywhere, anytime.  From look books, campaign and products shoots, with access to stylist, models and assistants. Need a fully developed commercial shoot?  Maybe some social media content for the next few months?  We got ya.  They are all vetted, you can choose the photographer that fits you best, but anyone we work with can handle every style of shooting. The top creatives, in the top places.
          </p>
        </div>
        </div>
      </div>
      <div class="service-block right-side">
        <div class="block-60">
        <div class="clip">
          <div class="bg bg-bg act" style="background-image:url(http://lorempixel.com/400/200/)">
          </div>
        </div>
        <div class="layer-white"></div>
      </div>
        <div class="block-40">
        <div class="text">
        <span>02</span>
          <h4>Videography / Drone </h4>
          <p class="text-p">
            Lets put some motion in it…  From quick clips to beautiful video based stories.  Our talented and well equipped pilots and videographers will produce exactly what you are looking for, from hero vids to stunning time-lapse, slow mow and interviews to campaign worthy clips and even a boomerang or two.  We are standing by a surfers beach, mountain, jungle, desert  or stunning city, well, probably not near you, but that is the point :)</p>
        </div>
        </div>
      </div>
      <div class="service-block left-side">
        <div class="block-60">
        <div class="clip">
          <div class="bg bg-bg act" style="background-image:url(http://lorempixel.com/400/200/)">
          </div>
        </div>
        <div class="layer-white"></div>
      </div>
        <div class="block-40">
        <div class="text">
        <span>03</span>
          <h4>Subscription (Enterprise)</h4>
          <p class="text-p">
            You know you need the content, at breakneck speeds, for everything you and your teams do.  That is why we are here, to give you a custom solution to global creative content.  We can rotate product from continent to continent, city to city, untouched valley to open fields. Why buy stock, when you can have your voice ring though loud and clear, your way.
          </p>
        </div>
        </div>
      </div>
   </div>
   </div>

