<div id="service">
     <div class="section service-section no-bottom-padd">
      <div class="second-title">
        <h2>Our Services</h2>
          <p>Cras pulvinar ultricies ligula sed pharetra</p>
      </div>
      <div class="service-block left-side">
        <div class="block-60">
        <div class="clip">
          <div class="bg bg-bg act" style="background-image:url(http://lorempixel.com/400/200/)">
          </div>
        </div>
          <div class="layer-white"></div>   
      </div>
        <div class="block-40">
        <div class="text">
        <span>01</span>
          <h4>Fusce laoreet turpis ac erat ultrices consectetur</h4>
          <p class="text-p">Aliquam feugiat tortor magna, nec pellentesque dui laoreet in. Integer arcu tortor, consectetur ac venenatis sed, lacinia non nisl. Nunc rhoncus dapibus.</p>
        </div>
        </div>   
      </div>
      <div class="service-block right-side">
        <div class="block-60">
        <div class="clip">
          <div class="bg bg-bg act" style="background-image:url(http://lorempixel.com/400/200/)">
          </div>
        </div>
        <div class="layer-white"></div>
      </div>
        <div class="block-40">
        <div class="text">
        <span>02</span>
          <h4>Nunc convallis leo augue, tincidunt tempus diam aliquam eu</h4>
          <p class="text-p">Aliquam feugiat tortor magna, nec pellentesque dui laoreet in. Integer arcu tortor, consectetur ac venenatis sed, lacinia non nisl. Nunc rhoncus dapibus.</p>
        </div>
        </div>   
      </div>
      <div class="service-block left-side">
        <div class="block-60">
        <div class="clip">
          <div class="bg bg-bg act" style="background-image:url(http://lorempixel.com/400/200/)">
          </div>
        </div>
        <div class="layer-white"></div>
      </div>
        <div class="block-40">
        <div class="text">
        <span>03</span>
          <h4>Donec non dui et nisl tincidunt gravida id vel est lacus mollis</h4>
          <p class="text-p">Aliquam feugiat tortor magna, nec pellentesque dui laoreet in. Integer arcu tortor, consectetur ac venenatis sed, lacinia non nisl. Nunc rhoncus dapibus.</p>
        </div>
        </div>   
      </div>
   </div>
   </div>
   