<div id="testimonials">
  <div class="section">
    <div class="second-title">
      <div class="container">
        <h2>What Customers Say</h2>
        <p>Cras pulvinar ultricies ligula sed pharetra</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-4'>
        <div class="cust-block cust-top">
          <div class="text bg-main">
            <p><i>Aliquam feugiat tortor magna, nec pellentesque dui laoreet in. Integer arcu tortor, consectetur ac venenatis sed.</i></p>
            <span>Dorian Cempton</span>
          </div>
          <div class="image">
            <img src="http://lorempixel.com/400/600/" alt="" class="res-img" /> 
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class="cust-block cust-bottom">
          <div class="image">
            <img src="http://lorempixel.com/400/600/" alt="" class="res-img" /> 
          </div>
          <div class="text bg-main">
            <p><i>Aliquam feugiat tortor magna, nec pellentesque dui laoreet in. Integer arcu tortor, consectetur ac venenatis sed.</i></p>
            <span>Dorian Cempton</span>
          </div>
        </div>
      </div>
      <div class='col-md-4'>
        <div class="cust-block cust-top">

          <div class="text bg-main">
            <p><i>Aliquam feugiat tortor magna, nec pellentesque dui laoreet in. Integer arcu tortor, consectetur ac venenatis sed.</i></p>
            <span>Dorian Cempton</span>
          </div>
          <div class="image">
            <img src="http://lorempixel.com/400/600/" alt="" class="res-img" /> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







 