
<div id="portfolio">
  <div class="section bg-main work-section">
    <div class="second-title">
      <h2>What We Do</h2>
      <p>Cras pulvinar ultricies ligula sed pharetra</p>
    </div>
    <div class='container'>
      <div id="filters" class="fillter-wrap">
         <button class="but activbut" data-filter="*">All</button>  
         <button class="but" data-filter=".design">design</button>
         <button class="but" data-filter=".development">development</button>
         <button class="but" data-filter=".branding">branding</button>
         <button class="but" data-filter=".logo">logo</button>
      </div>
      <div class='row'>
        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div> 

        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div> 
  </div>
</div>
