
<div id="portfolio">
  <div class="section bg-main work-section">
    <div class="second-title">
      <h2>What We Do</h2>
      <p>Cras pulvinar ultricies ligula sed pharetra</p>
    </div>
    <div class='container'>
      <div id="filters" class="fillter-wrap">
         <button class="but activbut" data-filter="*">All</button>  
         <button class="but" data-filter=".design">design</button>
         <button class="but" data-filter=".development">development</button>
         <button class="but" data-filter=".branding">branding</button>
         <button class="but" data-filter=".logo">logo</button>
      </div>
      <div class='row'>
        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div> 

        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div>

        <div class='col-md-4'>
          <div class="hover-container">
            <img src="http://lorempixel.com/400/200/" alt="Avatar" class="pre-overlay-image">
            <div class="overlay">
              <div class="overlay-text">Hello World
                <div class="overlay-text-sub">Hello World</div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div> 
  </div>
</div>




<style>
.hover-container {
  padding-top: 10px;
 
}

.pre-overlay-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; left: 20px; top: 20px; bottom: 10px; right: 20px; text-align: center; color: #fff; opacity: 0; -webkit-transition: all 350ms cubic-bezier(0.53, -0.005, 0.75, 0.095);-moz-transition: all 350ms cubic-bezier(0.53, -0.005, 0.75, 0.095);-o-transition: all 350ms cubic-bezier(0.53, -0.005, 0.75, 0.095);transition: all 350ms cubic-bezier(0.53, -0.005, 0.75, 0.095); background-color: #f34580;


}

.hover-container:hover .overlay {
  opacity: .9;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.overlay-text-sub{
  text-transform: uppercase; font-size: 11px; color: rgba(255,255,255,0.4);

}
</style>