<div id="container" class='masonry'>
<div class="grid-sizer"></div>
  <div class="item">
    <div class="design">
      <a href="http://lorempixel.com/600/300/">
        <img src="http://lorempixel.com/600/300/" alt="">  
        <div class="item-layer">
          <div class="vertical-align">
            <h3>Creative poster</h3>
            <p>Artdirection, Design, Concept</p>
          </div>  
        </div>
      </a>
    </div>
  </div>
  <div class="item">
    <div class="design">
      <a href="http://lorempixel.com/200/400/">
        <img src="http://lorempixel.com/200/400/" alt="">  
        <div class="item-layer">
          <div class="vertical-align">
            <h3>Creative poster</h3>
            <p>Artdirection, Design, Concept</p>
          </div>  
        </div>
      </a>
    </div>
  </div>
  <div class="item">
    <div class="design">
      <a href="http://lorempixel.com/500/250/">
        <img src="http://lorempixel.com/200/400/" alt="">  
        <div class="item-layer">
          <div class="vertical-align">
            <h3>Creative poster</h3>
            <p>Artdirection, Design, Concept</p>
          </div>  
        </div>
      </a>
    </div>
  </div>
  <div class="item w2"></div>
  <div class="item h2"></div>
  <div class="item"></div>
  <div class="item h2"></div>
  <div class="item w2 h2"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item h2"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item w2"></div>
  <div class="item h2"></div>
  <div class="item"></div>
  <div class="item h2"></div>
</div>
