<div id="why">
  <div class="choose">
    <div class="left-block">
      <div class="clip">
        <div class="bg bg-bg" style="background-image:url(https://s3-us-west-2.amazonaws.com/nomcre/assets/about_us_3.jpg)">
        </div>
      </div>
      <div class="layer-white"></div>
    </div>
    <div class="right-block">
      <div class="vertical-align">
       <div class="title">
        <h2>Why this is so different?</h2>
          <p>Vivamus porttitor justo in aliquam dapibus. Nulla nec sodales libero. Nullam molestie ut eros vel consequat.  Aliquam facilisis vestibulum nisl at lacinia. Fusce dignissim iaculis leo</p>
         </div>
        <div class="block-50">
         <div class="choose-block">
          <div class="choose-icon bg-main text-center">
            <i class="fa fa-camera-retro fa-inverse fa-3x" style="padding:15px;"></i>
          </div>
          <div class="choose-txt">
            <h6>Custom Content </h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
         <div class="choose-block">
          <div class="choose-icon bg-main text-center">
            <i class="fa fa-globe fa-inverse fa-3x" style="padding:15px;"></i>
          </div>
          <div class="choose-txt">
            <h6>Global</h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
         <div class="choose-block">
          <div class="choose-icon bg-main text-center">
            <i class="fa fa-clock-o fa-inverse fa-3x" style="padding:15px;"></i>
          </div>
          <div class="choose-txt">
            <h6>Rapid</h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
        </div>
        <div class="block-50">
         <div class="choose-block">
          <div class="choose-icon bg-main text-center">
            <i class="fa fa-expand fa-inverse fa-3x" style="padding:15px;"></i>
          </div>
          <div class="choose-txt">
            <h6>Expand your brand</h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
         <div class="choose-block">
          <div class="choose-icon bg-main text-center">
            <i class="fa fa-lock fa-inverse fa-3x" style="padding:15px;"></i>
          </div>
          <div class="choose-txt">
            <h6>Authentic</h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
         <div class="choose-block">
          <div class="choose-icon bg-main text-center">
            <i class="fa fa-trophy fa-inverse fa-3x" style="padding:15px;"></i>
          </div>
          <div class="choose-txt">
            <h6>Transparent</h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
        </div>
        </div>
    </div>
  </div>
