<div id="why">
  <div class="choose">
    <div class="left-block">
      <div class="clip">
        <div class="bg bg-bg" style="background-image:url(http://lorempixel.com/400/200/)">
        </div>
      </div>
      <div class="layer-white"></div>
    </div>
    <div class="right-block">
      <div class="vertical-align">
       <div class="title">
        <h2>Why Choose Us</h2>
          <p>Vivamus porttitor justo in aliquam dapibus. Nulla nec sodales libero. Nullam molestie ut eros vel consequat.  Aliquam facilisis vestibulum nisl at lacinia. Fusce dignissim iaculis leo</p>
         </div>     
        <div class="block-50">
         <div class="choose-block"> 
          <div class="choose-icon bg-main text-center">
            <i class="fa fa-camera-retro fa-inverse fa-2x" style="padding:20px;"></i> 
          </div>
          <div class="choose-txt">
            <h6>We Talk With Customers</h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
         <div class="choose-block">
          <div class="choose-icon bg-main">
            <img src="img/choose_icon_3.png" alt="">
          </div>
          <div class="choose-txt">
            <h6>Moving Along With The Times</h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
         <div class="choose-block">
          <div class="choose-icon bg-main">
            <img src="img/choose_icon_5.png" alt="">
          </div>
          <div class="choose-txt">
            <h6>Finish in Time</h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
        </div>
        <div class="block-50">
         <div class="choose-block">
          <div class="choose-icon bg-main">
            <img src="img/choose_icon_2.png" alt="">
          </div>
          <div class="choose-txt">
            <h6>Always Listen</h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
         <div class="choose-block">
          <div class="choose-icon bg-main">
            <img src="img/choose_icon_4.png" alt="">
          </div>
          <div class="choose-txt">
            <h6>Only Working Ideas</h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
         <div class="choose-block">
          <div class="choose-icon bg-main">
            <img src="img/choose_icon_6.png" alt="">
          </div>
          <div class="choose-txt">
            <h6>High Technological Level</h6>
              <p>Morbi cursus sapien leo, vel aliquam mauris imperdiet at. Nunc feugiat risus</p>
          </div>
         </div>
        </div>
        </div>  
    </div>
  </div>