<div class='row'>
  <div class='col-md-3'> <%= proposal_request.user.email %> </div>
  <div class='col-md-3'> <%= proposal_request.company.name %> </div>
  <div class='col-md-3'> <%= proposal_request.accepted %> </div>
  <div class='col-md-3'> Delete Link  </div>
</div>