<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">What Type Of Footage Do You Need? </h1>
  </div>
</section>
<div class='row'>
  <div class='col-md-8 offset-md-2'>
    <form action="/proposals/wizard-steps/content-type" method="post" class='contact-form'>
      <div class='row'>
        <div class='col-md-1'>
          <input type="radio" name="content_type" value="product">
        </div>
        <div class='col-md-11'>
          <label>Product</label>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-1'>
          <input type="radio" name="content_type" value="lifestyle">
        </div>
        <div class='col-md-11'>
          <label>Lifestyle</label>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-1'>
          <input type="radio" name="content_type" value="mixed">
        </div>
        <div class='col-md-11'>
          <label>Mixed</label>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-1'>
          <input type="radio" name="content_type" value="story">
        </div>
        <div class='col-md-11'>
          <label>Story</label>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-1'>
          <input type="radio" name="content_type" value="ingredients">
        </div>
        <div class='col-md-11'>
          <label>Ingredients</label>
        </div>
      </div>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Next", class='push-1'>
    </form>
  </div>
</div>



