<div class="section bg-grey">
  <div class="second-title">
    <h2>Get Started Today </h2>
    <p>Create An Account or Check Out The Demo </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="how-block">
          <div class="choose-icon bg-second">
            <i class='fa fa-sign-in fa-3x fa-3-center white'></i>
          </div>
          <%= link_to new_waitlist_path do %>
          <div class="text">
            <h6>Join The Wailist</h6>
            <p>Compelling Text To Convert Into Customers </p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="how-block">
          <div class="choose-icon bg-second">
            <i class="fa fa-exclamation fa-3x fa-3-center white" aria-hidden="true"></i>
          </div>
          <%= link_to proposal_wizard_steps_step_0_path do %>
          <div class="text">
            <h6>Try The Demo </h6>
            <p>Create A Brief and See Your Matches</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

