<div id="offers">
  <div class="section bg-grey">
      <div class="second-title">
        <div class="container">
          <h2>Our Best Offers</h2>
          <p>Cras pulvinar ultricies ligula sed pharetra</p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <i class='fa fa-sign-in fa-3x fa-3-center main-color'></i>
            </div>
                <h6>Stunning Images</h6>
                <div class="price">
                  <span>4k</span>
                   <sup>$</sup>
                </div>
                <h4 class="card-title">You want stunning new brand images </h4>
                <p class="card-text">Nomcre will find you the best creatives to take stunning photgraphs</p>
                <%= link_to "Create Proposal", {:action=> "new", :controller => "proposals", :query => "photo"}, class: 'push-1' %>
             </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <i class='fa fa-sign-in fa-3x fa-3-center main-color'></i>
            </div>
                <h6>Stunning Videos</h6>
                <div class="price">
                  <span>5k</span>
                   <sup>$</sup>
                </div>
                <h4 class="card-title">You want stunning new brand videos </h4>
                <p class="card-text">Nomcre will find you the best creatives to take stunning videos</p>
                <%= link_to "Create Proposal", {:action=> "new", :controller => "proposals", :query => "video"}, class: 'push-1' %>
             </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <i class='fa fa-sign-in fa-3x fa-3-center main-color'></i>
            </div>
                <h6>Stunning Drone Footage</h6>
                <div class="price">
                  <span>1K</span>
                   <sup>$</sup>
                </div>
                <h4 class="card-title">You want stunning new dron footage</h4>
                <p class="card-text">Nomcre will find you the best creatives to take stunning drone footage</p>
                <%= link_to "Create Proposal", {:action=> "new", :controller => "proposals", :query => "drone"}, class: 'btn btn-primary' %>
             </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
             <div class="price-block">
                <div class="choose-icon bg-white">
             <i class='fa fa-sign-in fa-3x fa-3-center main-color'></i>
            </div>
                <h6>A La Carte</h6>
                <div class="price">
                  <span>??</span>
                   <sup>$</sup>
                </div>
                <h4 class="card-title">You want a dope combo of Photo, Viddy, Flight, and 360  </h4>
                <p class="card-text">Nomcre will find you the best creatives to blow your minds </p>
                <a href="#" class="push-1">Create proposal</a>  
             </div>
          </div>
        </div>
      </div>
  </div>
  </div>