<%= render '/shared/carousel/portfolios_carousel'%>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <%= render 'shared/marketing/home_three_container'%>
      <hr class="featurette-divider">
      <h2> Recent Portfolios </h2>
      <%= render 'shared/portfolios/recent_portfolios' %>
      <!-- START THE FEATURETTES -->
      <%= render 'shared/marketing/home_featurettes' %>
      <!-- /END THE FEATURETTES -->
      <!-- FOOTER -->
    </div>