<section class="jumbotron text-center">
  <div class="container">
    <% if current_user && current_user.has_roles?(:company)%>
      <h1 class="jumbotron-heading">Work Created By <%= current_user.email %></h1>
    <% else %>
      <h1 class="jumbotron-heading">Work Requested For <%= current_user.email %></h1>
    <% end %>
  </div>

  
</section>
<div class='row'></div>
<div class='container'>
  <div class='row'>
    <div class='col-md-1 offset-md-11'>
      <% if current_user && current_user.has_roles?(:company)%>
      <%= link_to 'New', proposal_selection_path, class: 'push-1 right',data: { turbolinks: false } %>
      <% end %>
    </div>
  </div>
  <div class='row'>
  <%= render @proposals %>
  </div>
</div>