<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Work Requested For <%= current_user.email %></h1>
  </div>

  
</section>
<div class='container'> 
<%= render @requests%>
</div>