<%= render '/shared/carousel/portfolios_carousel'%>
<div class='container'>
<div class='row'>
  <div class='col-md-6'>
    <div class="card">
      <h3 class="card-header">Stunning Images </h3>
      <div class="card-block">
        <h4 class="card-title">You want stunning new brand images </h4>
        <p class="card-text">Nomcre will find you the best creatives to take stunning photgraphs</p>
        <%= link_to "Create Proposal", {:action=> "new", :controller => "proposals", :query => "photo"}, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="card">
      <h3 class="card-header">Stunning Videos </h3>
      <div class="card-block">
        <h4 class="card-title">You want stunning new brand videos </h4>
        <p class="card-text">Nomcre will find you the best creatives to craft stunning videos</p>
        <%= link_to "Create Proposal", {:action=> "new", :controller => "proposals", :query => "video"}, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="card">
      <h3 class="card-header">Stunning Drone Footage </h3>
      <div class="card-block">
        <h4 class="card-title">You want stunning new Drone Footage </h4>
        <p class="card-text">Nomcre will find you the best pilots to take stunning footie!</p>
        <%= link_to "Create Proposal", {:action=> "new", :controller => "proposals", :query => "drone"}, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="card">
      <h3 class="card-header">Custom Package </h3>
      <div class="card-block">
        <h4 class="card-title">You want a dope combo of Photo, Viddy, Flight, and 360  </h4>
        <p class="card-text">Nomcre will find you the best creatives to blow your minds </p>
        <a href="#" class="btn btn-primary">Create proposal</a>
      </div>
    </div>
  </div>
</div>
</div>  