<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Contacted Us</h1>
  </div>
</section>
 <% @contact_submissions.each do |contact_submission|%>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="how-block">
          <div class="choose-icon bg-second">
            <i class='fa fa-user fa-3x fa-3-center white'></i>
          </div>
          <div class="text">
          <h2><%= contact_submission.id %>. <%= contact_submission.name %></h2>
          <h4> <%= contact_submission.email %></h4>
          <br/>
           <p><%= contact_submission.message %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
