<header class="top-menu">
        <div class="container">
          <div class="navigation">
             <div class="logo">
              <a href="/">
                <p>NOMCRE</p>
              </a>
             </div>
             <div class="nav-menu-icon"><a href="#"><i></i></a></div>
          </div> 
        </div>             
    <nav>
       <div class="container">
       <ul>
        <li><a href="#home" class="anchor-scroll active">Home</a></li>
        <li><%= link_to 'Portfolios', portfolios_path, class: 'anchor-scroll' %></li>
        <li><a href="#service" class="anchor-scroll">Services</a></li>
        <li><a href="#portfolio" class="anchor-scroll">Portfolio</a></li>
        <li><a href="#why" class="anchor-scroll">Why we</a></li>
        <li><a href="#team" class="anchor-scroll">Our team</a></li>
        <li><a href="#testimonials" class="anchor-scroll">Testimonials</a></li>
        <li><a href="#news" class="anchor-scroll">News</a></li>
        <li><a href="#offers" class="anchor-scroll">Offers</a></li>
        <li><a href="#contact" class="anchor-scroll">Contact us</a></li>
       </ul>
       </div>
    </nav> 
     </header> 