
<% if current_user %>
<li class="nav-item center">
  <%= link_to 'My Proposals', my_proposals_path, class: 'dropdown-color' %>
</li>
<% if current_user && current_user.company  == nil %>
<li class="nav-item center">
  <%= link_to 'My Portfolios', my_portfolios_path, class: 'dropdown-color' %>
</li>
<% end %>
<li class='nav-item center'>
  <%= link_to 'My Profile', edit_user_registration_path, class: 'dropdown-color' %>
  
</li>
<%end%>
