<div class="card text-center" > 
  <div class="card-header">
    <%= proposal.company.name %>
  </div>
  <div class="card-block">
    <h3 class='card-title'><%= proposal.title %></h3>
    <p class="card-text"><%= proposal.deadline.to_s %></p>
    <%= link_to 'Check It', proposal, class: "btn btn-primary" %>
  </div>
</div>