<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Proposal Management </h1>
  </div>
</section>
<div class='container'> 
  <div class='row'> 
    <h1>New Proposal</h1>
    </div>
    <%= render 'form', proposal: @proposal %>
    <%= link_to 'Back', proposals_path %>
      
  </div>
</div>
