<li class="list-group-item">
  <div class='row'> 
    <div class='col-md-4'>
      <div><%= schedule_item.title %><div><%= schedule_item.item_type %></div></div>
    </div>
    <div class='col-md-6'>
      <div><%= schedule_item.start_date %></div>
      <div><%= schedule_item.end_date %></div>
    </div>
    
  </div>
</li>
