<section class="jumbotron text-center">
  <div class="container">
  <br/>
    <h1 class="jumbotron-heading">Edit Your Schedule</h1>
  </div>
</section>
<div class='container'>
<div class='row'>
  <div class='col-md-2 offset-md-10'>
    <%= link_to 'Remove Form Schedule', @schedule_item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>
<div class='row'>
  <div class='col-md-10 offset-md-1'>
    <%= render 'form', schedule_item: @schedule_item %>
  </div>
</div>
</div>
