<div class="col-md-6">
<div class='card' style='background-image: url("<%= portfolio_item_attachment.attachement.url %>");height: 100%; width: 100%; object-fit: scale-down;''>
  <div class="card-block"></div>
</div>
</div>