<h1>New Portfolio Item Attachment</h1>

<%= render 'form', portfolio: @portfolio, portfolio_item: @portfolio_item, portfolio_item_attachment: @portfolio_item_attachment %>

<%= link_to 'Back', portfolio_portfolio_item_portfolio_item_attachments_path %>
