<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Proposal Messages </h1>
  </div>
</section>
<div class='row'>
  <%= link_to "Back To Proposal", @proposal, class: 'push-1'%>
</div>
<div class='container'>
  <div style="overflow:scroll; height:200px;">
    <%= render @proposal_messages %>
  </div>
  <%= render 'form' %>
</div>
<script>
 setTimeout("location.reload();",1000);
</script>
