<div class='col-md-4'>
  <div class="hover-container">
    <%= image_tag portfolio_item.safe_cover_image, class: 'pre-overlay-image'  %>
    <div class="overlay">
      <%= link_to portfolio_portfolio_item_path(portfolio_item) do %>
        <div class="overlay-text"><%= portfolio_item.title %>
          <div class="overlay-text-sub"><%= portfolio_item.description %></div>
        </div>
      <% end %>
    </div>
  </div>
</div> 