<p>
  <strong>Title:</strong>
  <%= portfolio_item.title %>
</p>

<p>
  <strong>Cover image:</strong>
  <%= portfolio_item.cover_image %>
</p>

<p>
  <strong>Description:</strong>
  <%= portfolio_item.description %>
</p>
