<h1>Editing Portfolio Item</h1>

<%= render 'form', portfolio: @portfolio, portfolio_item: @portfolio_item %>

<%= link_to 'Show', portfolio_portfolio_item_path(@portfolio_item.portfolio, @portfolio_item) %> |
<%= link_to 'Back', portfolio_portfolio_items_path(@portfolio_item.portfolio) %>
