
<p id="notice"><%= notice %></p>
<%= render 'shared/carousel/portfolios_carousel' %>


<div class='container'>
<div class="row">
  <%= render @portfolio_items %>
</div>
</div>



<%= link_to 'New Portfolio Item', new_portfolio_portfolio_item_path %>
