<p id="notice"><%= notice %></p>

<%= render @portfolio_item %>

<%= link_to 'Edit', edit_portfolio_portfolio_item_path(@portfolio_item.portfolio, @portfolio_item) %> |
<%= link_to 'Back', portfolio_portfolio_items_path(@portfolio_item.portfolio) %>
